@import '../../../styles/utils/mixins';
@import '../../../styles/utils/vars';

.content-gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: $large-gap;

  @include onTablet {
    flex-direction: row-reverse;
  }

  @include onDesktop {
    margin-right: 0;
  }

  &__main-photo {
    width: auto;
    height: 274px;
    margin: 0 auto $medium-gap;
    object-fit: contain;
    object-position: center;

    @include onTablet {
      margin: 0 auto $large-gap;
    }

    @include onDesktop {
      height: 442px;
    }
  }

  &__main-photo-item {
    display: block;
    height: 100%;

    @include onTablet {
      max-width: 442px;
      max-height: 442px;
    }
  }

  &__photos-container {
    display: flex;
    justify-content: center;

    @include onTablet {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__secondary-photo {
    display: flex;
    margin-right: $small-gap;

    @include onTablet {
      margin-bottom: $medium-gap;
      margin-right: 0;
      min-height: 80px;
    }
  }

  &__secondary-photo-item {
    display: flex;
    flex-shrink: 0;
    align-items: stretch;

    width: 50px;
    height: 50px;
    padding: 5px;
    object-fit: contain;
    object-position: center;

    border: 1px solid $elements-color;
    border-radius: $border-radius-small;

    @include onTablet {
      width: 80px;
      height: 80px;

      border-radius: $border-radius-standart;
    }
  }
}
