@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/mixins';

.cart-list {
  display: flex;
  width: 100%;
  max-width: 752px;

  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
