@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/_mixins.scss';

.product-card {
  box-sizing: border-box;
  min-width: 229px;
  max-width: 288px;
  height: 440px;
  padding: 32px;
  flex-grow: 1;
  flex-basis: 20%;

  border: 1px solid $elements-color;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius-standart;

  transition: transform 500ms;

  &:hover {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  }

  @include onTablet {
    height: 506px;
  }

  &__product-image {
    height: 130px;

    @include onTablet {
      height: 196px;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__product-name {
    height: 42px;

    @include body-text;
  }

  &__price {
    display: flex;
    padding: 8px 0;
    margin: 0;

    &--current {
      @include h3-desktop;
      padding-right: 8px;
    }

    &--full {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 29px;
      color: $secondary-color;
      text-decoration-line: line-through;
    }
  }
}

.product-info {
  padding: 16px 0;
  border-top: 1px solid $elements-color;

  &__parameter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;

    &-text {
      @include small-text;
      color: $secondary-color;
    }

    &-size {
      @include small-text;
    }
  }

  :last-child {
    padding-bottom: 0;
  }
}

.buttons-block {
  display: flex;
  justify-content: space-between;

  &__add-to-cart {
    height: 40px;
    width: calc(100% - 48px);

    @include buttons-text;
    font-family: $global-font;
    line-height: 37px;
    color: $white-color;

    border: 1px solid $accent-color;
    border-radius: $border-radius-standart;
    background-color: $accent-color;

    cursor: pointer;

    &--in-cart {
      border-color: $elements-color;
      background-color: $white-color;
      color: $accent-color;
    }
  }

  &__favorites {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $icons-color;
    background-color: $white-color;

    background-image: url('../../../img/icons/favorites_add.svg');
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    &--remove {
      background-image: url('../../../img/icons/favorites_remove.svg');
      border-color: $elements-color;
    }
  }
}
