@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/_mixins.scss';

.sort-bar {
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

.params-block {
  &__title {
    margin-bottom: 4px;

    @include small-text;
    color: $secondary-color;
  }

  &__select {
    height: 40px;
    width: 120px;
    margin-right: 24px;
    padding-left: 12px;

    border: 1px solid $icons-color;
    background-color: $productCard-background;
    border-radius: $borderRadius-standart;

    font-family: $global-font;
    color: $selected-color;

    appearance: none;
    background-image: url('../../../img/icons/angle_arrow_down.svg');
    background-repeat: no-repeat;
    background-position-x: right 15px;
    background-position-y: 50%;

    &--large {
      @include onTablet {
        width: 185px;
      }
    }
  }

  &__input {
    height: 40px;
    max-width: 360px;
    width: 100%;
    margin-right: 24px;
    padding-left: 12px;

    border: 1px solid $icons-color;
    background-color: $productCard-background;
    border-radius: $borderRadius-standart;

    font-family: $global-font;
    color: $selected-color;
  }
}
