@import '../../../styles/utils/vars.scss';
@import '../../../styles/utils/mixins.scss';

.sortBar {
  display: flex;

  width: 100%;
  margin-bottom: 24px;
}

.sortBy {
  &__text {
    font-family: $global-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;

    margin: 0;
  }

  &__list {
    border: 1px solid #B4BDC3;
    background-color: #fff;
    border-radius: $borderRadius-standart;
    height: 40px;
    width: 185px;
    margin-right: 24px;
    padding-left: 12px;
    font-family: $global-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    @media (max-width: 320px) {
      width: 120px;
    }
  }
}

.itemsOnPage {
  &__text {
    font-family: $global-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;

    margin: 0;
  }

  &__list {
    height: 40px;
    width: 135px;
    border: 1px solid #B4BDC3;
    background-color: #fff;
    border-radius: $borderRadius-standart;
    padding-left: 12px;
    font-family: $global-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
}
