@import '../../styles/utils/vars.scss';
@import '../../styles/utils/mixins.scss';

.nav__list {
  margin: 0;
  padding: 0;
  display: none;

  @include onTablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 32px;
    list-style: none;
  }

  @include onDesktop {
    gap: 64px;
  }
}
