@import '../../styles/utils/vars.scss';
@import '../../styles/utils/mixins.scss';

.catalogContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  width: $productCard-width;

  @include onTab {
    width: calc(2 * #{$productCard-width} + #{$productCards-gap-column});
  }

  @media (min-width: 920px) {
    width: calc(3 * #{$productCard-width} + 2 * #{$productCards-gap-column});
  }

  @include onDesctop {
    width: calc((4 * #{$productCard-width} + 3 * #{$productCards-gap-column}));
  }
}
