@import '../../styles/utils/_vars.scss';
@import '../../styles/utils/_mixins.scss';

.home {
  max-width: 1150px;
  margin: 0 auto;
  padding: 24px 0 0 0px;

  @include onTablet {
    padding: 32px 0 0 20px;
  }

  @include onDesktop {
    padding: 56px 0 0 0;
  }
}

.new-models,
.new-products {
  margin-left: 16px;
  margin-bottom: 80px;
  &__title {
    padding-right: 100px;
    @include h2-mobile;

    @include onTablet {
      @include h2-desktop;
    }
  }
}

.shop-categories {
  margin: 0 16px;

  &__title {
    @include h2-mobile;
    margin-bottom: 24px;

    @include onTablet {
      @include h2-desktop;
    }
  }
}

.products-slider {
  height: 465px;

  @include onTablet {
    height: 531px;
  }

  &__title {
    margin-bottom: 10px;

    @include h2-mobile;

    @include onTablet {
      @include h2-desktop;
    }
  }
}

.hot-prices {
  margin-top: 81px;
}
