@import '../../styles/utils/_vars.scss';
@import '../../styles/utils/_mixins.scss';

.home {
  max-width: 1150px;
  margin: 0 auto;
  padding: 24px 0 64px;

  @include onTablet {
    padding: 32px 24px 64px;
  }

  @include onDesktop {
    padding: 56px 24px 80px;
  }
}

.shop-categories {
   margin: 0 16px;
}

.shop-categories__title {
  padding-bottom: 24px;

   @include h2-mobile;

    @include onTablet {
      @include h2-desktop;
    }
}