@import '../../styles/utils/_vars.scss';
@import '../../styles/utils/_mixins.scss';

.home {
  max-width: 1150px;
  margin: 0 auto;
  padding: 24px 0 64px;

  @include onTablet {
    padding-top: 32px;
  }

  @include onDesktop {
    padding-top: 56px;
  }
}

.new-models,
.new-products {
  margin-bottom: 80px;
}

.shop-categories {
  &__title {
    @include h2-mobile;
    margin-bottom: 24px;

    @include onTablet {
      @include h2-desktop;
    }
  }
}

.products-slider {
  height: 465px;

  @include onTablet {
    height: 531px;
  }

  &__title {
    margin-bottom: 10px;
    margin-right: 100px;

    @include h2-mobile;

    @include onTablet {
      @include h2-desktop;
    }
  }
}

.hot-prices {
  margin-top: 81px;
}
