$global-font: 'Mont', sans-serif;

$accent-color: #216cff;
$secondary-accent-color: #f447af;
$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-bg-color: #fafbfc;
$white-color: #ffffff;
$green-color: #27ae60;
$red-color: #eb5757;

$bottom-height: 64px;

$borderRadius-standart: 8px;

$productCard-width: 280px;
$productCard-height-mobile: 440px;
$productCard-height: 506px;
$productCards-gap-column: 16px;
$productCards-gap-row: 40px;

$productCard-photoHeight-mobile: 130px;
$productCard-photoHeight: 196px;
$productCard-background: #ffffff;
$productCard-borderColor: #e2e6e9;
