$global-font: 'Mont', sans-serif;

$primary-color: #0F0F11;
$secondary-color: #89939A;

$bottom-heigh: 64px;

$borderRadius-standart: 8px;

$productCard-width: 280px;
$productCard-hight: 506px;
$productCards-gap-column: 16px;
$productCards-gap-row: 40px;
