@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/_mixins.scss';

.params-block__input {
  height: 40px;
  max-width: 360px;
  width: 100%;
  margin-right: 24px;
  padding-left: 12px;

  border: 1px solid $icons-color;
  background-color: $white-color;
  border-radius: $border-radius-standart;

  font-family: $global-font;
  color: $selected-color;
}
