@import '../../styles/utils/vars.scss';
@import '../../styles/utils/mixins.scss';


@mixin uppercased-text {
  font-family: $global-font;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: none;

  @include onTablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 32px;
    list-style: none;
  }

  @include onDesktop {
    gap: 64px;
  }
}

.nav__link {
  display: flex;
  @include uppercased-text;
  text-decoration: none;
  height: 100%;
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}