@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';
@import '../../../styles/utils/reset';
@import '../../../styles/fonts/fonts.scss';

.about {
  text-align: left;
  flex-grow: 1;
  flex-shrink: 2;

  @include onTablet {
    margin-right: 32px;
  }

  &__title {
    @include h3-mobile;

    @include onTablet {
      @include h3-desktop;
    }
    padding-bottom: 16px;
    margin-bottom: 32px;

    border-bottom: 1px solid $secondary-color;
  }

  &__characteristics-subtitle {
    @include h4-mobile;

    @include onTablet {
      @include h4-desktop;
    }
    margin-bottom: 16px;
  }

  &__characteristics-text {
    @include body-text;

    margin-bottom: 32px;
    color: $secondary-color;
  }
}
