@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.contact-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto $large-gap;
  max-width: 300px;
  padding: $large-gap;
  background-color: $white-color;

  border: 1px solid $secondary-color;
  border-radius: $border-radius-standart;

  @include onTablet {
    margin: $large-gap $medium-gap;
  }

  &:hover {
    box-shadow: 1px 1px 1px $elements-color;
  }

  &__person-img {
    border-radius: 50%;
    margin-bottom: $medium-gap;
  }

  &__person-name {
    @include h3-mobile;

    @include onTablet {
      @include h3-desktop;
    }
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: $large-gap;

  &__icon-container {
    margin: 0 $small-gap $medium-gap;
    border: 1px solid $secondary-color;
    border-radius: $border-radius-standart;

    &:hover {
      cursor: pointer;
      transition: 0.3s;
      transform: scale(1.1);
      box-shadow: -2px -2px 2px $elements-color;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin: $small-gap;
  }
}