@import '../../styles/utils/_vars.scss';
@import '../../styles/utils/_mixins.scss';

.slider {
  position: relative;

  .swiper {
    margin-right: -16px;
    padding-left: 8px;

    @include onTablet {
      margin-right: -20px;
    }

    @include onDesktop {
      margin-right: 0;
    }
  }
  &-button {
    position: absolute;
    top: -40px;
    left: 70%;
    border: 1px solid $elements-color;
    border-radius: 48px;
    background-color: transparent;
    height: 32px;
    width: 32px;
    &:hover {
      border-color: $selected-color;
    }

    @include onTablet {
      top: -50px;
    }

    &__prev {
      background: url('./left-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      left: 78%;
      @include onTablet {
        left: 88%;
      }

      @include onDesktop {
        left: 90%;
      }

      &:hover {
        background-image: url('./left-arrow-active.svg');
      }
    }
    &__next {
      background-image: url('./right-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      left: 93%;
      @include onTablet {
        left: 95%;
      }
      &:hover {
        background-image: url('./right-arrow-active.svg');
      }
    }
  }
}

.swiper {
  & .product-card {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
