@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/mixins';

.checkout {
  display: flex;
  max-width: 752px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  border: 1px solid $elements-color;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  height: 190px;

  @include onDesktop {
    width: 368px;
  }

  &__total {
    padding-bottom: 16px;
    height: 76px;
    border-bottom: 1px solid $elements-color;

    &-price {
      color: $primary-color;

      @include h2-desktop;
    }

    &-items {
      color: $secondary-color;

      @include body-text;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 48px;

    border: 1px solid $accent-color;
    border-radius: 8px;
    background-color: $accent-color;
    font-family: $global-font;
    color: $white-color;

    @include buttons-text;

    &:hover {
      box-shadow: $action-button-hover;
      cursor: pointer;
    }

    &:active {
      background-color: $white-color;
      border: 1px solid $elements-color;
      color: $accent-color;
      cursor: pointer;
    }
  }
}
