@import './styles/fonts/fonts.scss';
@import './styles/utils/_vars.scss';

html {
  font-family: $global-font;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-color: $hover-bg-color;
}
