@import './styles/fonts/fonts.scss';
@import './styles/utils/_mixins.scss';
@import './styles/utils/_vars.scss';

body {
  font-family: $global-font;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-color: $hover-bg-color;
  padding-bottom: 64px;

  @include onDesktop {
    padding-bottom: 80px;
  }
}
