@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/mixins';

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.cart-modal {
  position: relative;
  height: 90%;
  max-height: 300px;
  width: 90%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 50px 30px;

  background: $white-color;
  border-radius: 16px;

  &__close {
    position: absolute;
    top: 14px;
    right: 20px;

    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    font-size: 24px;
    color: $elements-color;
  }

  &__text {
    color: $secondary-accent-color;

    @include h4-mobile;

    @include onTablet {
      @include h3-desktop;
    }
  }

  &__to-main-page {
    width: 200px;
    height: 50px;
    border: none;
    background-color: $accent-color;
    border-radius: $border-radius-standart;
    font-family: $global-font;
    color: $white-color;

    @include buttons-text;

    &:hover {
      box-shadow: $action-button-hover;
    }

    &:active {
      background-color: $white-color;
      border: 1px solid $elements-color;
      color: $accent-color;
    }

    @include onTablet {
      width: 240px;
    }
  }
}
