@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/_mixins.scss';

.productList {
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  column-gap: $productCards-gap-column;
  row-gap: $productCards-gap-row;
}
