@import '../../../styles/utils/_vars.scss';
@import '../../../styles/utils/_mixins.scss';

.productList {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 40px;
  justify-content: center;
  flex-wrap: wrap;

  column-gap: $product-cards-gap-column;
  row-gap: $product-cards-gap-row;
}
